/* Style for the container holding the game elements */
#container {
    text-align: center;
}

/* Style for the timer display */
#timer {
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 10px;
}

/* Style for the canvas elements */
canvas {
    border: 3px solid;
    border-radius: 15px;
    margin: 10px;
}

/* Style for the score display elements */
#scoretext1, #scoretext2 {
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
}

/* Style for the reset button */
button {
    font-size: 25px;
    border: 3px solid;
    width: 90px;
    height: 70px;
    border-radius: 15px;
    cursor: pointer;
}
